*.pro.user*
bin/
obj/
.vs/
*.user
.appdata/
.dotnet-home/
debug/
*.o
*.exe
Makefile
Makefile.*
object_script.*
ui_*.h
qrc_*.cpp
msvcr*.dll
t
.edge-pdf*/
tmp-*.png
start-window-*.png
wizard-*.png
editor-*.png
1 A Time of War-The BattleTech RPG — Corrected Third Printing.pdf
1r A Time of War-The BattleTech RPG Character Record Sheet.pdf
